*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor{
    margin: auto;
}

/*.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #051367;
    width: 100%;
    height: 70px;
}*/

.bg-nav{
    background-color: #051367;
}

.color-nav{
    text-decoration: none;
    color: #DFF6FF;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px grey;
}

.header img{
    width: 15vw;
    height: 100%;
    padding-left: 50px;
    margin-top: auto;
}

.header nav ul{
    display: flex;
    list-style: none;
}

.header li{
    margin: 20px;
}

.color-nav:hover{
    color: #FF8E00;
    transition: 1;
    text-shadow: none;
}

.banner-azul{
    display: flex;
    justify-content: left;
    background-color:#2D31FA;
    color: #5D8BF4;
    font-style: italic;
    padding: 10px;
    padding-left: 7%;
}

.titulo-ninos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.franelas-ninos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.franelas-ninos img{
    width: 250px;
    height: 250px;
}

.description-kids:hover{
    color: #2D31FA;
    font-size: 18px;
    transition: 1;
}

.text{
    padding: 30px;
    text-align: justify;
}

.banner-rosa{
    display: flex;
    justify-content: right;
    background-color:#F473B9;
    color: #E60965;
    font-style: italic;
    padding: 10px;
    padding-right: 7%;
}

.titulo-ninas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.franela-ninas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.franela-ninas img{
    width: 250px;
    height: 250px;
}

.description-girl:hover{
    color: #E60965;
    font-size: 18px;
    transition: 1;
}

.banner-naranja{
    display: flex;
    justify-content: left;
    background-color:#FF8E00;
    color: #051367;
    font-style: italic;
    padding: 10px;
    padding-left: 7%;
}

.accesorios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.accesorios-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.accesorios-img img{
    width: 250px;
    height: 250px;
}

.description-accessories:hover{
    color:#FF8E00;
    font-size: 18px;
    transition: 1;
}

.banner-verde{
    display: flex;
    justify-content: right;
    background-color:#54E346;
    color: #051367;
    font-style: italic;
    padding: 10px;
    padding-right: 7%;
}

.juguetes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.juguetes-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.juguetes-img img{
    width: 250px;
    height: 250px;
}

.description-toys:hover{
    color:#54E346;
    font-size: 18px;
    transition: 1;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #DFF6FF;
    padding: 20px;
    margin-top: 10px;
}

.logo{
    height: 100px;
    width: 150px;
    padding: 10px;
}

.ubicacion{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.footer .ubicacion img{
    width: 20px;
    height: 20px;
}

.footer div img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.grid-container img{
    width: 150px;
    height: 150px;
}

.grid-container{
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.grid-item{
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Media Queries */

/* Mobile */

@media only screen and (max-width:450px) {

    .header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: #051367;
        width: 100%;
        height: 70px;
    }

    .header img{
        padding-left: 0;
        width: 35vw;
        height: 50%;
        margin-top: 3%;
        margin-left: 3%;
    }

    .menu{
        margin-right: 7%;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        font-size: 60%;  
    }
    .menu ul li{
        margin: 2%;
        padding: 2%;
    }

    .seccion-one{
        display: none;
    }

    .banner-azul{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color:#2D31FA;
        color: #5D8BF4;
        font-style: italic;
        font-size: 20px;
        padding-left: 0;
    }

    .titulo-ninos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .franelas-ninos img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .banner-rosa{
        display: flex;
        text-align: center;
        justify-content: center;
        background-color:#F473B9;
        color: #E60965;
        font-size: 20px;
        font-style: italic;
        padding-right: 0;
    }

    .titulo-ninas{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }
    .franela-ninas img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .banner-naranja{
        display: flex;
        justify-content: center;
        background-color:#FF8E00;
        color: #051367;
        font-style: italic;
        text-align: center;
        font-size: 20px;
    }

    .accesorios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accesorios-img img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .banner-verde{
        display: flex;
        justify-content: center;
        background-color:#54E346;
        color: #051367;
        font-style: italic;
        text-align: center;
        font-size: 20px;
    }

    .juguetes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5%;
        flex-direction: column-reverse;
    }

    .juguetes-img img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .grid-container img{
        width: 150px;
        height: 150px;
    }
    
    .grid-container{
        margin: 5px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
    
    .grid-item{
        margin: 10px;
        padding: 5px;
        font-size: 15px;
        font-style: bold; 
        text-align: center;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:  #DFF6FF;
        padding: 10px;
        margin-top: 10px;
    }

    .ubicacion{
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
    }

}

/* Tablet */

@media only screen and (min-width:451px) and (max-width:960px){

    .header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: #051367;
        width: 100%;
        height: 20vw;
    }

    .header img{
        padding-left: 0;
        width: 35vw;
        height: 50%;
        margin-top: 3%;
        margin-left: 3%;
    }

    .menu{
        margin-right: 7%;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        font-size: 100%;  
    }

    .menu ul li{
        margin: 2%;
        padding: 2%;
    }

    .seccion-one{
        display: none;
    }

    .banner-azul{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color:#2D31FA;
        color: #5D8BF4;
        font-style: italic;
        font-size: 20px;
        padding-left: 0;
    }

    .titulo-ninos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .franelas-ninos img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .banner-rosa{
        display: flex;
        justify-content: center;
        background-color:#F473B9;
        color: #E60965;
        font-style: italic;
        padding-right: 0;
    }

    .titulo-ninas{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }

    .franela-ninas img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .banner-naranja{
        display: flex;
        justify-content: center;
        background-color:#FF8E00;
        color: #051367;
        font-style: italic;
    }

    .accesorios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accesorios-img img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .banner-verde{
        display: flex;
        justify-content: center;
        background-color:#54E346;
        color: #051367;
        font-style: italic;
    }

    .juguetes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5%;
        flex-direction: column-reverse;
    }

    .juguetes-img img{
        width: 20%;
        height: 20%;
        margin: auto;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color:  #DFF6FF;
        padding: 10px;
        margin-top: 10px;
    }

    .ubicacion{
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
    }

}